*
!*/
!.gitignore
!/zellij/*
!/nushell/**/*
/nushell/history.txt
!topgrade.toml 
!starship.toml
!.gitconfig
!alacritty/*
!brew_state_update.nu
!.aws/*
!alfred/**
helix/runtime
!helix/config.toml
alfred/Alfred.alfredpreferences/workflows/user.workflow.D8722B68-046A-49F9-96DF-43C2C3634077/image_cache
alfred/Alfred.alfredpreferences/workflows/user.workflow.D8722B68-046A-49F9-96DF-43C2C3634077/query_cache
alfred/Alfred.alfredpreferences/workflows/user.workflow.D8722B68-046A-49F9-96DF-43C2C3634077/update_cache
!delta/*
