*
!*/
!.gitignore
!/zellij/*
!/broot/**/*
!/nushell/**/*
/nushell/history.txt
/nushell/plugin.msgpackz
/nushell/localconfig.nu
!topgrade.toml 
!starship.toml
!.gitconfig
!alacritty/*
!brew_state_update.nu
!.aws/*
!helix/*
helix/runtime
!delta/*
!extra/*
!skhd/*
!yabai/*
!aerospace/*
!ghostty/*
